@use '../util' as u;

html {
    box-sizing: border-box;
    font-size: 100%;
}
* {
    font-family:"Avenir";
}

*, 
*::before, 
*::after {
    box-sizing: inherit;
}

body {
    margin:auto;
    padding:0;
    font-family: "Avenir";
    background-color: var(--background-color);
    color: var(--text-color);
    max-width: 1600px;
}

a {
    color:var(--text-color);
}

nav{
    width: 1600px;
    height: 52px;
    margin: auto;
    background-color: var(--bdiblue);
}