
// basic layout for all pages. Sets box-sizing, font-family, body styles, and link colors.
html {
    box-sizing: border-box;
    font-size: 100%;
}
*, 
*::before, 
*::after {
    box-sizing: inherit;
}

body {
    margin-left: auto;
    margin-right: auto;
    padding:0;
}
