
@use 'responsive' as *;

// basic layout for all pages. Sets box-sizing, font-family, body styles, and link colors.
html {
    box-sizing: border-box;
    font-size: 100%;
}
*, 
*::before, 
*::after {
    box-sizing: inherit;
}

body {
    margin-left: auto;
    margin-right: auto;
    padding:0;
}
#main {
    width: 100%;
    max-width: 1400px;
    margin: auto;
    padding: 0 32px;

    @include xl  { max-width: 1200px; padding: 0 32px; }
    @include lg  { max-width: 992px;  padding: 0 24px; }
    @include md  { max-width: 768px;  padding: 0 24px; }
    @include sm  { max-width: 576px;  padding: 0 16px; }
    @include xsm { max-width: 100%;   padding: 0 8px;  }
}
