//primary colors
$bdiblue:#20485c;
$text:black;
$white:#fff;
//grays
$darkgray: #414143;
$medgray: #6a6a6a;
$lightgray01: #d3d4d4;
$lightgray02: #e5e5e5;
$lightgray03: #F2f2f2;
// med gray scale
$medgray10: #1B1C1C;
$medgray20: #303031;
$medgray30: #464747;
$medgray40: #5E5E5E;
$medgray50: #777777;
$medgray60: #909090;
$medgray70: #ACABAB;
$medgray80: #C7C6C6;
$medgray90: #E2E3E2;
//beige
$darkbeige: #afaa99;
$lightbeige: #D8D1BC;
//blue
$lightblue:#BCC6CB;
$hyperlinkblue:#0000ee;
$williamblue:#3c6378;

//yellow
$vividyellow:#FFFF00;
$paleyellow:#FFFFAA;
$softyellow:#F9E784;

//other
$brightorange:#ec9a29;
$red:#CC0202;

// --stroke:#6A6A6A;
// --stroke60:#6A6A6A99;
// --blue_lightbox: #20485c80;
// --red_hover: #eb2d2699;
// :root {
//     --bdiblue:#20485c;
//     --bdired: #eb2e26;
//     --bdigreen: #03b696;
//     --gray: #d6d7d8;
//     --lightgray: #f2f2f2;
//     --white: #fff;
//     --black: #000;
//     --bdiblue-hover: #20485c60;
//     --stroke:#6A6A6A;
//     --stroke60:#6A6A6A99;
//     --blue_lightbox: #20485c80;
//     --red_hover: #eb2d2699;
//     --text-color:black;
// }