:root {
    --bdiblue:#20485c;
    --bdired: #eb2e26;
    --bdigreen: #03b696;
    --gray: #d6d7d8;
    --lightgray: #f2f2f2;
    --white: #fff;
    --black: #000;
    --bdiblue-hover: #20485c60;
    --stroke:#d8d1dc;
    --blue_lightbox: #20485c80;
    --red_hover: #eb2d2699;
    --text:var(--black);
}