footer { 
    background-color:var(--bdiblue);
    color:var(--white);
    padding: 2rem;
}

.footer-flex-col {
    display:flex;
    flex-direction: column;
}

.footer-flex-container {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

footer div section a {
    color:var(--white);
    line-height: 1.5rem;
}
.footer-link:hover {
    text-decoration: underline;
}