a {
  color:var(--text-color);
  text-decoration: underline;
}
a:hover {
  font-weight:bold;
}
#pre-header {
  background-color: var(--white);
  min-height: 40px;
}
#pre-header_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 1400px;
  margin: auto;
  
}
.pre-header_left {
  display: flex;
  flex-direction: row;
  gap:1em;
  width:100%;
}
.pre-header_right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap:1em;
  width:100%;
}
#country_currency {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap:4px;
}
#find_location{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap:4px;
}
#branch_phone{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap:4px;
}
#vertical_line{
  height: 20px;
  border-left: 1px solid #AAABAB;
}
#post-header {
  background-color: var(--bdiblue);
  min-height: 100px;
    padding-top:8px;

}
#post-header_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 1400px;
  margin: auto;
}
#search_bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 2px;
  width:auto;
  min-width:800px;
  background-color: var(--white);
  height: 42px;
  font-size: 1rem;
}
.header_icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap:24px;
}
#support {
  display: flex;
  flex-direction: Column;
  align-items: center;
  gap:4px;
  color:var(--white)
}
#quick_order {
  display: flex;
  flex-direction: Column;
  align-items: center;
  gap:4px;
  color:var(--white)
}
#sign_in {
  display: flex;
  flex-direction: Column;
  align-items: center;
  gap:4px;
  color:var(--white)
}
#cart {
  display: flex;
  flex-direction: Column;
  align-items: center;
  gap:4px;
  color:var(--white)
}
.header-container{
  display:flex;
  grid-gap: 8px;
  height: auto;
  margin: auto;
  width: 1440px;
  padding-top:8px;
}
.grid-region {
  grid-area:grid-region;
  padding-bottom: 8px;
  border-bottom: 1px solid var(--white);
}

.grid-register{
  grid-area:grid-register;
  border-bottom: 1px solid var(--white);

}
.vertical-line{
  height: 24px;
  padding-left: 4px;
  border-left: 2px solid var(--white);
}
.grid-buttons {
  grid-area: grid-buttons;
  justify-content: space-around;
}
/* ----------------------------Search Bar */
      .search_bar {
        grid-area: search;
        align-items: center;
        border-radius: 2px;
        width:auto;
        background-color: var(--white);
        height: 42px;
        }

      #search-dropdown {
        position:relative;
        border:none;
        background-color: none;
        cursor: pointer;
      }  
      #search-options{
        position: relative;
        display: none;
        visibility:hidden;
        z-index: 1;
      }
      .search-vertical-line {
        height: 34px;
        border-left: 2px solid var(--bdiblue);
      }
      .search-input-outer{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        
      }
      .search-input {
        padding: 0 8px;
        height: 32px;
        border: none;
        width:auto;
      }
      .search-field:focus::placeholder {
        color: transparent;
        border: none;
      }
  .chat {
    display:flex;
    flex-direction: column;
    align-items: center;
  }
  .quick-order {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .sign-in {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .cart{
    display:flex;
    flex-direction: column;
    align-items: center;
  }