// --------------------------------Header
.bottom-header-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  /* ----------------------------Search Bar */
.search_bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid var(--bdiblue);
    border-radius: 8px;
    width:auto;
  }
  .header-drop-down {
    align-self: center;
    padding: 0 8px;
  }
  .search-field {
    padding: 0 8px;
    height: 32px;
    border: none;
    width:auto;
  }
  
  .search-field:focus::placeholder {
    color: transparent;
  }
  .vertical_line {
    height: 34px;
    border-left: 2px solid var(--bdiblue);
  }
  .vertical-separator{
    border-left: 2px solid var(--stroke);
}
.top-header-row{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.inside-header-row{
    display:flex;
    flex-direction: row;
    column-gap: 1rem;
}
.bottom-header-row{
  padding:1rem;
}