// --------------------------------Header
.guest_header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  /* ----------------------------Search Bar */
.search_bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid var(--bdiblue);
    border-radius: 8px;
  }
  .header-drop-down {
    align-self: center;
    padding: 0 8px;
  }
  .search-field {
    padding: 0 8px;
    height: 32px;
    border: none;
  }
  
  .search-field:focus::placeholder {
    color: transparent;
  }
  .vertical_line {
    height: 34px;
    border-left: 2px solid var(--bdiblue);
  }