#caret-down {
    height: 12px;
    width: 22px;
    padding-left: 8px;
  }
  #logo {
    width: 211.5px;
    height: 48px;
  }
  #location {
    width: 17px;
    height: 24 px;
    padding-right:4px;
  }
  #search {
    height: 17px;
    width: 17px;
    margin-top: 4px;
    padding-left: 12px;
    padding-right: 8px;
  }
  #shoppingcart {
    height: 24px;
    width: 27px;
  }
  #usa {
    height: 22px;
    width: 41px;
  }
  #user {
    height:24px;
    width:24px;
    padding-right:4px;
  
  }
  