#caret-down {
    height: 12px;
    width: 22px;
    padding-left: 8px;
  }
  #logo {
    width: 228px;
    height: 48px;
  }
  #location {
    width: 17px;
    height: 24 px;
    padding-right:4px;
  }
  #search {
    height: 17px;
    width: 17px;
    position: relative;
    top:4px;
    right:10px;
  }
  #shoppingcart {
    height: 24px;
    width: 27px;
  }
  #usa {
    height: 22px;
    width: 41px;
  }
  #user {
    height:24px;
    width: 28px;
    padding-right:4px;
  }
  .cat-image {
    width: 96 px;
    height: 96px;
    float: left;
  }
  .user-icon{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #millions{
    width:545px;
    height:224px;
  }
  