@font-face {
    font-family: "Avenir";
    src: url('../../fonts/Avenir-Roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Avenir-heavy";
    src: url('../../fonts/Avenir-Heavy.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
h2 {
    font-size: 32px;
    font-family: "Avenir-heavy";
    font-weight: 800;
}
h3{
    font-size: 28px;
    font-family: "Avenir-heavy";
    font-weight: 800;
}
h4{
    font-size: 24px;
    font-family: "Avenir-heavy";
    font-weight: 800;
}
h5 {    
    font-size: 20px;
    font-family: "Avenir-heavy";
}
h6 {
    font-size: 18px;
    font-family: "Avenir-heavy";
}
p {
    font-size: 16px;
    font-family: "Avenir";
}
a {
    font-size: 16px;
    font-family: "Avenir";
}

