@use '../globals/colors' as colors;  

footer { 
    background-color:colors.$bdiblue;
    color:colors.$white;
    // padding: 32px;
}
footer h3 {
    color: colors.$white;
    font-family: "Avenir-heavy";
}

#footer-container{
    max-width: 1400px;
    margin: auto;
}

footer a {
    color:colors.$white;
    text-decoration: none;
}
a:hover {
    text-decoration:underline;
}

.footer-flex-col {
    display:flex;
    flex-direction: column;
}

.footer-flex-container {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

footer div section a {
    color:colors.$white;
    line-height: 1.5rem;
}

.footer-link:hover {
    text-decoration: underline;
}

.copyright_align {
    text-align: center;
    padding: 16px 0;
}