footer { 
    background-color:var(--bdiblue);
    // padding: 32px;
}

#footer-container{
    max-width: 1400px;
    margin: auto;
}

footer a {
    color:var(--white);
    text-decoration: none;
}
a:hover {
    text-decoration:underline;
}

.footer-flex-col {
    display:flex;
    flex-direction: column;
}

.footer-flex-container {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

footer div section a {
    color:var(--white);
    line-height: 1.5rem;
}

.footer-link:hover {
    text-decoration: underline;
}