@use '../globals/responsive' as *;
@use '../globals/colors' as colors;

#home_categories {
    width: 100%;
    margin: 0;
    
    @include xxl { max-width: 1400px; padding: 0; }
    @include xl  { max-width: 1200px; padding: 0; }
    @include lg  { max-width: 992px;  padding: 0; }
    @include md  { max-width: 768px;  padding: 0; }
    @include sm  { max-width: 576px;  padding: 0; }
    @include xsm { max-width: 100%;   padding: 0;  }
}

#home_categories h2 {
    color: colors.$bdiblue;
    max-width: 1336px;
    margin: 0 auto;
    font-size: 24px;
}

.home-categories-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    place-items: center;
    // margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    
    // padding-left: 32px;

    @include md {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(8, 1fr);
        padding-left: 0;
    }

    @include sm {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(16, auto);
        padding-left: 0;
    }
    
    @include xsm {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(16, auto);
        padding-left: 0;
    }
}

.category-labels {
    font-family: "Avenir-heavy";
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: auto;
    padding-right: 8px;
    text-align: right;

    @include xl { font-size: 20px; }
    @include lg { font-size: 18px; }
    @include md { font-size: 18px; }
    @include sm { font-size: 16px; }
    @include xsm { font-size: 14px; }
}

.category-square {
    color: colors.$bdiblue;
    text-decoration: none;
    width: 100%;
    height: 136px;
    place-self: center stretch;
    margin: 0;
    border: 1px solid colors.$lightgray01;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include xl { height: 120px; }
    @include lg { height: 104px; }
    @include md { height: 96px; }
    @include sm { height: 80px; }
    @include xsm { height: 72px; }
}
.category-square:hover {
    color: colors.$bdiblue;
    border: 1px solid colors.$darkgray;
}


@include xxl {
    .home-categories-grid {
        max-width: 1400px;
        margin: 0 auto;
    }
}

@include xsm {
    .home-categories-grid {
        display: flex;
        flex-direction: column;
    }
}